
@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

