
@{
    ViewData["Title"] = "AccessDenied";
}
<div  style="display:flex !important; justify-content:center !important; align-items:center">
    <img src="https://play-lh.googleusercontent.com/VN8tZrZW41Q2oGOoQA9SJWwIphNabFfrj9HgvqI50e636sF-bURevF5hKPWD3SjjzqU"/>
</div>

