@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Movies.Domain.Poco.Movie>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a type="button" class="btn btn-success"asp-controller="Movies" asp-action="index">Explore</a>
</div>
